.conts {
  @include make-flex();
  @include make-flex-col();
  @include make-algn-cntr();
  overflow: hidden;
}

.conts__cntr-wrap {
  @include make-flex();
  @include make-cntr();
  min-height: inherit;
}

@media (max-width: $max-mobl-width) {
  .conts__cntr-wrap {
    @include make-flex-col();
    @include make-algn-cntr();
    width: 280px;
    padding-top: 42px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 19px;
  }
}

@media (min-width: $tablt-width) {
  .conts__cntr-wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $tablt-width) and (max-width: $max-tablt-width) {
  .conts__cntr-wrap {
    width: 620px;
    padding-top: 46px;
    padding-bottom: 4px;
  }
}

@media (min-width: $deskt-width) {
  .conts__cntr-wrap {
    width: 940px;
    padding-top: 72px;
    padding-bottom: 50px;
  }
}

.conts__h2 {
  margin-top: 0;
}

@media (max-width: $max-mobl-width) {
  .conts__h2 {
    margin-bottom: 34px;
  }

  .conts__call-us {
    width: inherit;
    margin-bottom: 19px;
  }

  .conts__write-us {
    width: inherit;
    margin-bottom: 22px;
  }

  .conts__come-to-gsts {
    width: inherit;
    margin-bottom: 19px;
  }
}

.conts__h3 {
  width: 195px;
  margin-top: 0;
}

@media (max-width: $max-mobl-width) {
  .conts__h3 {
    margin-bottom: 3px;
  }

  .conts__call-us .conts__h3 {
    margin-bottom: 1px;
  }
}

.conts__p {
  margin-top: 0;
  margin-bottom: 2px;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $lipstick;
}

.conts__map {
  overflow: hidden;
}

@media (max-width: 320px) {
  .conts__map {
    width: 100%;
  }
}

@media (max-width: $max-mobl-width) {
  .conts__map {
    height: 187px;
  }
}

@media (min-width: 321px) and (max-width: $tablt-width) {
  .conts__map {
    width: 700px;
  }
}

@media (min-width: 661px) and (max-width: $deskt-width) {
  .conts__map {
    width: 2000px;
  }
}

@media (min-width: $tablt-width) and (max-width: $max-tablt-width) {
  .conts__map {
    height: 372px;
  }
}

@media (min-width: $deskt-width) {
  .conts__map {
    height: 510px;
  }
}

.conts__iframe {
  width: inherit;
  height: inherit;

  border: none;
}

.conts__map-img {
  width: 100%;
}

@media (max-width: 320px) {
  .conts__map-img {
    margin-top: -143%;
  }
}

@media (min-width: 321px) and (max-width: $tablt-width) {
  .conts__map-img {
    margin-top: -458px;
  }
}

@media (min-width: 661px) and (max-width: $deskt-width) {
  .conts__map-img {
    margin-top: -228%;
  }
}
