.dnld {
  min-height: 396px;

  background-color: rgb(35, 51, 67);
  background-position: left -66px;;
  background-repeat: no-repeat;
  background-image: url("../img/bg-back-mobile@1x.jpg");
}

.dnld__cont {

}
