.main-nav__top {
  min-height: 70px;
  background-color: #000000;
  opacity: 0.3;
  &--open {
    background-color: rgb(35, 51, 67);
    opacity: 1;
    border-bottom: 1px solid #000000;
  }
}

.main-nav__toggl {

}
