$bg-black03: rgba(0, 0, 0, 0.3);
$bg-dark: rgb(35, 51, 67);
$bg-gray: rgba(#003044, 0.5);
$dark: #283645;
$pink: #d22856;
$black: #000000;
$white: #ffffff;
$tablt-width: 660px;
$scrl-tablt-width: 680px;
$max-tablt-width: 1199px;
//$max-tablt-width: 899px;
$desct-width: 1200px;
$scrl-desct-width: 1220px;
//$desct-width: 900px;
